

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00385e 0%, rgb(0, 22, 37) 100%);
    background-repeat: no-repeat;
    background-size: cover;

     font-family: "Atkinson Hyperlegible Next", sans-serif;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.5px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 30px;
    color: whitesmoke;
    h4{
        font-weight: 800;
        hr{
            text-align: left;
            margin-top: -10px;
            margin-bottom: -2px;
            color: whitesmoke;
            max-width: 10%;
        }
    }
}

.links{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  a{
    color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px; 
  }
}

.heroText{
    size: 50px;
    position: absolute;
    left: 20%;
    top: 20%;
    color: whitesmoke;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    h4{
       margin-bottom: -10px;
    }
}

.content{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    position: absolute;
    left: 20%;
    top: 35%;
    a{
        color: whitesmoke;
        margin-right: 1.5rem;
    }
}

.wrapper{
    margin: 0 auto;
    max-height: 100vh;
    max-width: 80%;
    top: 40%;
}

.card{
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    margin: 30px;
    color: whitesmoke;
    font-weight: 800;

}
